Thumbs.db
Desktop.ini
*.txt
*.pyc
*.pyo
*.pyd
*.spec
variablesGlobal/
Ghostscript/
__pycache__/
build/
dist/
.vscode/
venv/
env/
# forgot about it but added now so it won't track your work:
psFiles/
imagesPNG/
