Thumbs.db
Desktop.ini
.DS_Store
*.txt
*.pyc
*.pyo
*.pyd
*.spec
*.py[cod]
*$py.class
variablesGlobal/
__pycache__/
build/
dist/
.vscode/
venv/
env/
# forgot about it but added now so it won't track your work:
psFiles/
imagesPNG/
# files to track
!requirements.txt
!structure.txt
